<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
 <section>
   <h3 class="shelter-names"><a style="font-size:22px" href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
   <a href=<%= "/shelters/#{shelter.id}/edit" %>>Edit Shelter</a>
   <a>&nbsp;&nbsp;</a>

   <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
  </section>
<% end %>
<h4><a href="/shelters/new">New Shelter</a></h4>
